.movies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  height: 100%;
  margin-bottom: 25px;
  align-items: center;
}

.movies__loader {
  margin: 50% auto;
}

.movies__error {
  margin: 0 auto;
  height: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .movies__list {
    row-gap: 30px;
    margin: 0 auto;
  }
}
